@CHARSET "UTF-8";
dl, dt, dd, ol, ul, li{
	list-style:none;
	margin:0;
	padding:0;
}
a:link { color: white; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: blue; text-decoration: none;}

.family-site a:visited { color: white; text-decoration: none;}
.family-site a:hover { color: black; text-decoration: none;}

 .header{
	background-color: #3a3f4c;
}
.family-site{
	display: block;
}
.container{
	max-width: 1140px;
	margin:0 auto;
}
.container li{
	font-size: 12px;
    line-height: 44px;
    padding: 0 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.family-site .container li{
	color: #c0daf1;
    height: 100%;
    font-size: 12px;
    line-height: 44px;
    padding: 0 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.login{
	position: absolute;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    line-height: 26px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #fff;
    background: #5383e8;
    text-decoration: none;
    margin: 7px 0;
    right: 20px;
    top: 2px;
    
}
.gnb{
	background-color: #4a73f7;
	
}