@CHARSET "UTF-8";
body{
	background-color: #ebeef1;
}
.center{
width:1280px;
margin:0 auto;
}
.mainPage{
	width:734px;
	float: left;
}
.Posts{
	margin:30px 0px;
	width:700px;
	border: solid 2px #e9eff4;
	min-height: 300px;
	padding: 10px 15px;
	display: block;
}
.posts-header{
	padding: 0px 24px;
	height: 118px;
	}
.bar{
	color:#ffe5e5;
	padding:0px 5px;
}
.subject{
	font-size: 24px;
	}
.info{
	margin: 10px 0px;
}
.user_info{
	float: left;
}
.posts_info{
	float: right;
}
.content{
	display: block;
	min-height:300px;
}
.comment{
	background-color: #f5ecf4;
	
	padding: 12px 10px; 
}
.comment_input_box{
	display: flex;	
}
.comment_input{
	width: 510px;
    resize: none;
    float: left;
    margin: 0px 20px;
    padding: 10px;
}
.comment_btn{
	width:100px;
	float: left;
	height: 67px;
	color: green;	
}
.comment_view_item{
	display: flex;
}

.comment_userName{
	padding: 15px;
}
.comment_content{
	    padding: 0px 5px;
}
.comment hr{
	border: dashed 1px #9a9a9a;
}
.comment p{
	text-align: center;
	}
.btn_group{
	float: right;
	margin:10px 0px;	
}
.btn_group input{
	width:120px;
	font-size:16px;
	border: 1px solid skyblue; 
	background-color: rgba(0,0,0,0); 
	color: skyblue; 
	padding: 10px;
	border-radius: 4px;

}
.btn_group input:hover{
	color:white; 
	background-color: skyblue;
}
