@CHARSET "UTF-8";
.community-header-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto;
    float: left;
    padding-left: 20px;
}
.community-title{
	display: block;
    padding: 17px 0 16px 20px;
    line-height: 17px;
    font-size: 14px;

    text-decoration: none;
    font-weight: bold;
}
.list:HOVER {
	background-color: #dddddd;
}
.side_bar li{
margin:0px 10px;
display: block;
color:black !important;  
}
.side_bar .title{
padding: 10px 15px;
font-size: 12px;
}
.side_bar .list{
padding:6px 20px;
font-size:15px;
}
.side_bar {
    width: 300px;
    float: left;
    padding: 25px 0px;
    border: solid 2px #e9eff4;
    border-radius: 5px;
    margin: 30px 0px;
    margin-right: 30px;
}
.box{
	background-color:#fff;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
.loginBox>input{
	color: white;
    margin: 4px auto;
    display: block;
    border: none;
    padding: 8px 100px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #46cfa7;
}
.userInfo{
	padding: 10px 20px;
	position: relative;
}
.userInfo>p{
    padding: 0px 40px;
}

.userInfo>.btn_group{
	margin-top: 30px;
	
}
.userInfo>.btn_group>input{
	color: white;
    margin: 4px auto;
    display: block;
    border: none;
    padding: 8px 100px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #46cfa7;
}
.board_content{
	border: 1px solid #ebeef1;
    padding: 10px 0px;
}
.user_icon{
	width: 96px;
	height:96px;
    float: left;
    border-radius: 70px;
    padding-right: 10px;
}
.userInfoBox{
	display: contents;
}
.userInfo>a{
	position: absolute;
    right: 0;
    top: 0;
    margin-right: 12px;
}
.userInfo p{
	margin:5px 0px;
}
.mouse:hover{
	cursor: pointer;
}