<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>studyJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 배포 서술자 :설정정보를 연결해서 사용하는 파일  -->
  <!--  프로젝트 사용시 서비스 오픈단계에서 에러처리페이지 -->
  <!-- <error-page>
  <error-code>404</error-code>
  <location>/error/code404.jsp</location>
  </error-page>
  <error-page>
  <error-code>500</error-code>
  <location>/error/code500.jsp</location>
  </error-page>
  -->
  
  <!--  디비 연결정보 설정   -->
  <resource-ref>
  <description>test</description>
  <res-ref-name>jdbc/mysqlDB</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
  </resource-ref>
  
  
 
	<servlet>
	<servlet-name>domain</servlet-name>
	<servlet-class>net.Search.action.SearchFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>domain</servlet-name>
	<url-pattern>*.kr</url-pattern>
	</servlet-mapping>
  
  
  
  
</web-app>